.landingPageBackground {
    background-color: #000000;
    animation: scrollUp 0.5s cubic-bezier(.83,-0.03,.36,.9) forwards;
    animation-delay: 1.8s;
}

.landingPageContainer {
    height: 100vh;
    width: 100vw;
    background-color: rgba(77,122,178,0.45);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5rem;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    animation: scrollUp 0.5s cubic-bezier(.83,-0.03,.36,.9) forwards;
    animation-delay: 2s;
}

@keyframes scrollUp {
    80% {
        transform: translateY(-100%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.landingPageContainer>span:nth-child(1),
.landingPageContainer>span:nth-child(2){
    opacity: 0;
    filter: blur(1px);
    transform: translate(-5px, -15px);
    animation: fadeIn 1.5s ease-out forwards;
}

.landingPageContainer>span:nth-child(1) {
    animation-delay: 0.6s;
}

.landingPageContainer>span:nth-child(2) {
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    50% {
        transform: translate(0px, 0px);
        filter: blur(0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        filter: blur(0px);
    }
}